<a href="https://colab.research.google.com/github/Ayswaric/python-basics/blob/main/data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Types and Structures Questions

1. What are data structures, and why are they important?

ans=Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
They are important becouse:
1.Choosing the right data structure significantly impacts the efficiency and performance of your program.
2.Well-chosen data structures can:
Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations
Conserve memory usage

2.  Explain the difference between mutable and immutable data types with examples.

ans=In programming, mutable data types can be modified after they are created, while immutable data types cannot. Lists, dictionaries, and sets are mutable, whereas strings and tuples are immutable. This means you can change the elements within a mutable object, but with immutable objects, any modification results in a new object being created

3.What are the main differences between lists and tuples in Python?
ans=The main differences between lists and tuples in Python center around their mutability and associated characteristics

mutability:-This is the most significant difference. Lists are mutable, meaning their elements can be changed  after the list is created. Tuples are immutable, meaning their elements cannot be changed once the tuple is created.

syntax:-Lists are defined using square brackets [], while tuples are defined using parentheses ()

4.Describe how dictionaries store data?
ans=Dictionaries in Python store data in key-value pairs, allowing for efficient retrieval of values based on their corresponding keys. Each key must be unique, while values can be of any data type and can be duplicated. Dictionaries are unordered, mutable, and accessed via their keys.

5.Why might you use a set instead of a list in Python?
ans-A set in Python is often preferred over a list in specific scenarios due to its inherent properties and performance characteristics
 Sets automatically ensure that all elements within them are unique. If you need to store a collection of items where duplicates are not allowed, using a set eliminates the need for manual duplicate checking and remova

6.What is a string in Python, and how is it different from a list?
ans-n Python, a string is an immutable sequence of characters, while a list is a mutable sequence of items that can be of different data types. Strings are enclosed in quotes (single or double), and lists are enclosed in square brackets.

7.How do tuples ensure data integrity in Python?
ans-Tuples in Python ensure data integrity primarily through their immutability. This characteristic means that once a tuple is created, its contents cannot be changed, added to, or removed from.

8. What is a hash table, and how does it relate to dictionaries in Python?
ans-A hash table is a data structure that implements an associative array, also known as a dictionary or map. It stores key-value pairs
Dictionaries in Python are a direct implementation of hash tables. When a key-value pair is added to a Python dictionary, the key is passed through a hash function to generate a hash value.

9.Can lists contain different data types in Python?
ans-yes, lists in Python can contain elements of different data types.

10. Explain why strings are immutable in Python?
ans-Strings are immutable in Python to ensure safety, hashability, performance optimization, and consistent behavior across the language.

11.What advantages do dictionaries offer over lists for certain tasks?
ans-Dictionaries are generally more advantageous than lists when it comes to tasks involving fast data retrieval based on unique identifiers (keys), and when you need to associate data with meaningful labels

12.Describe a scenario where using a tuple would be preferable over a list?
ans-A tuple is preferable to a list when the data it holds needs to remain constant and not be modified after creation. This is because tuples are immutable
Scenario: Consider storing a user's birthdate. Once the birthdate is recorded, it shouldn't change. Using a tuple to store the day, month, and year ensures that these values remain consistent throughout the application's lifecycle.

13.How do sets handle duplicate values in Python?
ans-Python sets are inherently designed to store only unique elements. This means that when you add duplicate values to a set, the set automatically handles them by discarding the duplicates. Only one instance of a given value will be present in the set.

14. How does the “in” keyword work differently for lists and dictionaries?
ans-In Python, the in keyword functions differently for lists and dictionaries. For lists, in checks for the presence of an element, while for dictionaries, it checks for the presence of a key

15. Can you modify the elements of a tuple? Explain why or why not?
ans-No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after creation. If you try to modify a tuple element, you will receive a TypeError

16. What is a nested dictionary, and give an example of its use case?
ans-A nested dictionary in Python is a dictionary that contains another dictionary (or dictionaries) as its values, creating a hierarchical structure. This structure allows for representing complex, multi-layered data

In [1]:
person = {
    "name": "John",
    "address": {
        "city": "New York",
        "zipcode": "10001"
    }
}

# Access the city
print(person["address"]["city"])

New York

17.Describe the time complexity of accessing elements in a dictionary
ans-Accessing elements in a dictionary (also known as a hash map or associative array) typically has a time complexity of O(1) on average, which means it takes constant time regardless of the dictionary's size. This is because dictionaries use a hash table internally to store and retrieve data, and hash table lookups are generally very fast.

18.In what situations are lists preferred over dictionaries?
ans-Lists are generally preferred over dictionaries when the order of elements is important, when you need to iterate through elements sequentially, or when you frequently perform operations like appending, inserting, or deleting elements. Dictionaries, on the other hand, are more suitable when you need to quickly look up values based on unique keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
ans-Dictionaries are considered unordered because they don't guarantee a specific order for their elements (key-value pairs) when you iterate through them.This lack of inherent order affects data retrieval by preventing direct indexing or slicing based on element position, unlike ordered data structures like lists or tuples.

20.Explain the difference between a list and a dictionary in terms of data retrieval.?
ans-In terms of data retrieval, lists and dictionaries differ significantly. Lists retrieve elements based on their numerical index (position), while dictionaries retrieve elements based on their unique keys. Lists are ordered collections, and dictionaries are unordered collections of key-value pairs.

Practical Questions

1.Write a code to create a string with your name and print it

In [2]:
name = "Ayswaric"
print("My name is", name)

My name is Ayswaric

2. Write a code to find the length of the string "Hello World"

In [3]:
p="hello world"
len(p)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [5]:
string="python programming"
string[:3]

'pyt'

4. Write a code to convert the string "hello" to uppercase

In [6]:
string="hello"
string.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [7]:
string="i like apple"
string.replace("apple","orange")

'i like orange'

6. Write a code to create a list with numbers 1 to 5 and print it

In [8]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [14]:
num=[1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [15]:
num=[1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [18]:
list=['a','b','c','d']
list[-3]

'b'

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [24]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [25]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [28]:
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [29]:
my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [32]:
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [37]:
fruits = ("apple", "banana", "mango")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [38]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [39]:
set={1,2,3,4,5}
set.clear()
print(set)

set()

18.. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [40]:
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [41]:
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [43]:
set1={1,2,3}
set2={2,3,4}
set1.intersection(set2)

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [48]:
d = {'name': 'Ayswaric', 'age': 25, 'city': 'Guwahati'}
print(d)

{'name': 'Ayswaric', 'age': 25, 'city': 'Guwahati'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [52]:
d={'name': 'John', 'age': 25}
d['country']="USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [53]:
d={'name':'Alice','age':'30'}
d['name']
print(d)

{'name': 'Alice', 'age': '30'}

In [ ]:
24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [54]:
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [55]:
d={'name': 'Alice', 'city': 'Paris'}
if 'city' in d:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26.Write a code to create a list, a tuple, and a dictionary, and print them all

In [56]:

my_list = ["apple", "banana", "cherry"]


my_tuple = ("red", "green", "blue")

my_dict = {"name": "Ayswaric", "age": 23, "city": "Guwahati"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: ['apple', 'banana', 'cherry']
Tuple: ('red', 'green', 'blue')
Dictionary: {'name': 'Ayswaric', 'age': 23, 'city': 'Guwahati'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [60]:
import random

# Generate 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[8, 17, 29, 64, 88]

28.Write a code to create a list with strings and print the element at the third index

In [62]:
list=["aysw","nath","scl","ghy"]
list[2]

'scl'

29. Write a code to combine two dictionaries into one and print the result

In [63]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict = {**dict1, **dict2}
print(dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [78]:
# List of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set
my_set = set(my_list)

# Print the set
print(my_set)

TypeError: 'set' object is not callable